<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" type = "text/css" href = "ResumeProfile.css" />
    <title>ResumeProfilePage</title>
</head>
<body>
    <div class="container">
        <div class="center-content">
            <img class="img-resume-avatar" src="img_avatar.png" alt="Avatar">
            <h3>Thomas Blais</h3>
        </div>
            <div class="row-container">
                <p>Email</p>
                <p>Address</p>
                <p>401-632-6856</p>
            </div>
        <div class="center-content">
            <h3>hvrblqiverb</h3>
            <h3>hvrblqiverb</h3>
            <h3>hvrblqiverb</h3>
            <h3>hvrblqiverb</h3>
        </div>
    </div>
</body>
</html>